@font-face {
    font-family: 'Roboto';
    src: url('/webfonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/webfonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background: #c5c5c5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

main {
    background-color: #dcdcdc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.tabs {
    display: flex;
    background-color: #333; /* Background color for the tabs container */
    border-radius: 5px;
    overflow: hidden;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff; /* Text color for inactive tabs */
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #555; /* Background color on hover */
}

.tab-button.active {
    background-color: #007BFF; /* Background color for the active tab */
    /*color: #333; /* Text color for the active tab */
}

/* Adjust the styles for hidden tabs as needed */
.tab-button.hidden {
    display: none;
}

h2 {
    color: #333;
}

.formulario_grupo {
    margin-bottom: 20px;
}

.formulario_label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.formulario_input,
.formulario_select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.formulario_btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.formulario_btn:hover {
    background-color: #555;
}

.formulario_mensaje-exito {
    color: green;
    font-weight: bold;
    display: none;
}

.tab-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.tab-btn:hover {
    background-color: #555;
}

/* Estilos para el botón de Cerrar Sesión */
#logoutButton {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
    position: absolute;
    top: 60px;
    /* Cambia la posición superior para que esté arriba del botón de sincronizar */
    right: 10px;
}

#logoutButton:hover {
    background-color: #ff0000;
    /* Cambia el color de fondo al pasar el cursor */
}

#syncButton {
    background-color: #39ad48;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px 0;
    position: absolute;
    top: 10px;
    right: 10px;
}

#syncButton:hover {
    background-color: #32b33d;
    /* Cambia el color de fondo al pasar el cursor */
}

#cabecera {
    display: flex;
    justify-content: center; /* Alinea horizontalmente */
    align-items: center; /* Alinea verticalmente */
    text-align: center; /* Alinea el texto al centro */
}

#cabecera img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
}